main {
    scroll-behavior: smooth;
}

#index_titlebox{
    width: 95%;
    height: 90vh;
    padding: 20vh 20%;
    color: azure;
}


#index_content{
    /* color: aquamarine; */
    color: white;
    text-align: center;
}
#index_content> h2{
    /* color: aquamarine; */
    text-align: center;
    align-items: center;
}

.index_panel > h2{
    /* color: rgb(144, 144, 253); */
    
    color: white;
    padding: 0.5rem;
    margin: 0px;
    text-align: center;

}

.index_panel{
    background: linear-gradient(to left, rgba(20, 20, 20, 0.8), rgba(30, 30, 30, 0.8));
    padding: 1rem;
    margin: 5rem auto;
    border-radius: 15px;
    width: 80%;
    max-width: 800px;
}

.index_panel > p{
    padding: 2rem;
}

canvas{
    background: linear-gradient(to left, rgba(0, 0, 50, 1), rgba(0, 1, 0, 1));
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.index_headers{
    transform: rotate(-10deg);
    -webkit-transform: rotate(-7deg);/* Safari */
    -moz-transform: rotate(-7deg); /* Firefox */
    -ms-transform: rotate(-7deg);/* IE */
    -o-transform: rotate(-7deg);/* Opera */
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);Internet Explorer */
}

#index_exclaimer{
    width: 75%;
    padding: 2.5%;
    margin: 1rem 10% 4rem;
    background-image: url("../images/beeStripes.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 10%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border: 2px solid rgb(235, 220, 90);
}
#index_exclaimer2{
    text-align: center;
    padding: 1rem;
    background-color: rgba(240, 240, 240, 0.9);

}
.buton_container{
    width: 100%;
    text-align: center;
}

#theme_controller{
    padding: 1rem;
    background-color: rgba(104, 104, 104, 0.8);
}

footer{
    color: rgba(172, 171, 171, 0.8);
}