/*-----------------------start up settings---------------------------------*/
/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
}
 
* {
    /* The width of an element will be the size of its border box,
       not its content box (which is the normal default). */
    box-sizing: border-box;
}
img{
	width: 100%;
	height: 100%;
}

/* ----------------------------positioning and sizing --------------------------------- */
h1{
	padding: 3rem 1rem 0.5rem 1rem;
}

p{
	padding: 1rem;
}

section{
	margin: 5%;
	padding: 5%;
	border: 1px solid black;
}

footer {
    height: 18rem;
	padding: 5%;
}

nav {
    display: flex;
    justify-content: center;
}

.nav_Container {
    padding: 2px,10px,5px,10px;
    margin: 2rem;
}

canvas{
    display: block;
	width: 90%;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 2.5rem;
}

.projectContainer > div {
    width: 40%;
}

.footerLogoBox{
	display: flex;
	width: 20rem;
	height: 5rem;
}

.linkLogoBox{
	width: 5rem;
    height: 5rem;
    margin: 0rem 2rem;
}

.imgContainerGames{
	width: 100%;
}

