h1{
    color: white;
}
h2, p{
    color: black;
}

#projects_titlebox{
    padding: 1rem;
}
.flex_this > a{
    padding: 2rem;
}

.projects_panel{
    border-radius: 25px;
    background-color: rgb(202, 202, 202);
    border: 1px solid rgb(0, 0, 0);
    padding: 2rem;
    height: auto;
}
.projects_panel:hover{
    border-radius: 25px;
    background-color: rgb(217, 228, 235);
    border: 5px solid rgb(31, 199, 134);
}

body{
    background-image: url("../images/vscode.PNG"); 
    background-color: #cccccc; 
    height: 500px; 
    background-position: center; 
}

footer > p{
    color: white;
}