h1{
    color: white;
}
h2, p{
    color: black;
}

#projects_nav{
    display: flex;
    justify-content: space-between;
}

main{
    background-image: linear-gradient(to bottom right, rgb(165, 195, 241), rgb(246, 250, 252));
    padding: 3rem;
  }

.flex_this > a{
    padding: 2rem;
}

.temp_imgcontainer{
    float: left;
    margin: 10px;
    width: 60%;
}

.projects_panel{
    align-items: center;
    text-align: center;
    padding: 2rem;
    height: auto;
}
.projects_panel:hover{
    border-radius: 25px;
    background-color: rgb(202, 202, 202);
    border: 1px solid rgb(0, 0, 0);
}

body{

}

footer > p{
    color: white;
}