.software_panel{
    border-radius: 25px;
    background-color: rgb(202, 202, 202);
    border: 1px solid rgb(0, 0, 0);
    max-width: 800px;
    /* max-height: 200px; */
    padding: 3rem;
    margin: 3rem auto;
}

main{
  background-image: linear-gradient(to bottom right, rgb(165, 195, 241), rgb(246, 250, 252));
  padding: 3rem;
}

  /* Media Querries */
  @media only screen and (min-width: 600px) {

}

@media only screen and (max-width: 600px) {
  .software_panel{
    margin: 1rem;
  }
}