
*{
    margin: 0;
    padding: 0;
}
img{
    width:100%;
    height: 100%;
}


#index_Ui{
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    
    color: white;
}

#index_titleBox{
    width: 95%;
    height: 60vh;
    padding: 20vh 2.5%;
}

h1{
    font-size: 3rem  
}

h1, h2, p{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

canvas{
    background: linear-gradient(to left, rgba(0, 0, 50, 1), rgba(0, 1, 0, 1));
    position: sticky;
    top: 0;
    left: 0;
    z-index: -1;
}

nav{
    display: flex;
    justify-content:space-evenly;
    width: 100vw;
    height: 10vh;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    top: 0;
    left:0;
    padding: 1rem 0rem 0rem 0rem;
}
.nav_Container{
    text-align: center;
}
nav p{
    color: white;
}

a:link{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    padding: 1rem;
}

#index_sumBox{
    background-color: rgba(200, 200, 200, 1);
    padding: 5vw 10vw;
}
#index_sumBox p{
    color:black;
    padding: 1em;
}
#index_sumBox h2{
    color:black;
    padding: 0.25em;
}

#pictureBox{
    padding: 5vw;
    border: 1px solid black;
}

footer{
    background-color: black;
    height: 16vh;
    padding: 1rem 3rem;
    text-align: left;
}

.footer_logoBox{
    display: flex;
    flex-direction: row;
	width: 80%;
	height: 2rem;
}

.linkLogoBox{
	width: 1rem;
    height: 1rem;
    margin: 1rem;
}
