#cn_top{
    color: white;
    padding: 2rem;
    background-image: linear-gradient(to bottom right, black, rgb(50, 50, 50));

    width: 100%;
    height: 90vh;
    text-align: center;

}

#responsive_image{
    vertical-align: middle;
    width: 100%;
    margin: 3rem auto;
}

#img_cn{
    margin: 0 auto;
}

section{
    height: 100vh;
}
@media only screen and (min-width: 800px) {
    #img_cn{
        margin: 0 auto;
        max-height: 80vh;
        width: fit-content;
    }
    #responsive_image{
        vertical-align: middle;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }
    #cn_top{
        padding: 0 2rem;
    }
  }