@media only screen and (min-width: 800px) {
  .index_panel{    
    padding: 0.5rem;
    width: 700px;
    max-width: 800px;
}
h2 {
  font-size: 2.5em;

}

h3 {
  font-size: 2em;
}

.paragraph {
  padding: 1rem 1rem 0.5rem;
  font-size: 1em;
}
.flex_this {
  flex-direction: row;
}

.project_img {
  float: right;
  width: 30%;
}
/* .offset_left,
.offset_right {
    margin: 0px;
} */

.project_img {
    margin: 30px 30px;
}
}
  

